{% extends 'MAL_app/base.html' %} {% block title %}Create Account{% endblock %}
{% block content %}
<body class="bg-body-secondary">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-6">
        <div class="container bg-light p-4 border border-dark">
          <h2>Create Account</h2>
          {% if error_message %}
          <div class="alert alert-danger" role="alert">{{ error_message }}</div>
          {% endif %}
          <form method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            />
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
            <label for="confirm_password">Confirm Password</label>
            <input
              type="password"
              class="form-control mb-2"
              id="confirm_password"
              name="confirm_password"
              required
            />
            <button type="submit" class="btn btn-primary mb-2">
              Create Account
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
